:root {
  --shadow-color: #fdfdfd;
  --shadow-color-light: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #333;
  height: 100vh;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}
header {
  display: flex;
  justify-content: center;
}
/* contenedores */
.contenedor {
  display: flex;
  justify-content: center;
}
.contenedor2 {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  height: 5rem;
}
.contenedor3 {
  display: flex;
  justify-content: center;
}
.contenedor4 {
  display: inline-flex;
  flex-direction: row;
}

/*contenidos */
.contenido1 {
  display: grid;
  width: 50%;
  height: 86vh;
}
.contenido2 {
  display: grid;
  width: 50%;
  height: 86vh;
}
.contenido3 {
  display: grid;
  width: 50%;
  height: 86vh;
}

/* Estilos de tablas*/
table {
  border: 1px solid black;
  padding: 0px;
  border-radius: 5px;
}
th {
  font-family: sans-serif;
  background-color: #333;
  color: rgb(206, 192, 192);
  font-size: 15px;
  border-radius: 3px;
  -webkit-box-shadow: -4px 6px 11px -4px rgba(92, 83, 90, 1);
  -moz-box-shadow: -4px 6px 11px -4px rgba(92, 83, 90, 1);
  box-shadow: -4px 6px 11px -4px rgba(92, 83, 90, 1);
}
td {
  text-align: center;
  font-family: sans-serif;
  color: black;
  font-size: 20px;
  padding: 5px;
}
input[type='number'],
.nada {
  border: none;
  font-size: large;
  text-align: center;
  width: 40px;
  height: 30px;
  border-bottom: 2px solid black;
}

/* CLASSES TO MAKE MODAL WORK */
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  background-color: rgb(255, 255, 255);
  padding: 6rem;
  border-radius: 5px;
  -webkit-box-shadow: -4px 4px 15px 0px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: -4px 4px 15px 0px rgba(0, 0, 0, 0.39);
  box-shadow: -4px 4px 15px 0px rgba(0, 0, 0, 0.39);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.encabezado {
  margin: 20px 0 0 0;
  font-size: 35px;
}

/*botones estilos*/
.btnMain {
  font-size: 2rem;
  font-weight: 500;
  margin: 20px 30px;
  border: none;
  background-color: rgb(224, 219, 219);
  color: #444;
  border-radius: 14px 14px 14px 14px;
  border: 2px solid #f7e9e9;
}
.efect {
  background-image: -webkit-linear-gradient(
    45deg,
    #0ff153 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, #0ff153 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
}
.efect:hover {
  -webkit-box-shadow: 0px 0px 23px 7px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 23px 7px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 23px 7px rgba(0, 0, 0, 1);
  background-position: 0;
  cursor: pointer;
}

/*Estilos extras*/
.total2 {
  font-size: 20px;
  margin: 10px 10px 0 10px;
}

.space {
  width: 0.5cm;
}

.button {
  font-family: Georgia;
  color: #000000;
  font-size: 17px;
  padding: 9px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #000000;
  -moz-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  text-shadow: 1px 1px 30px #666666;
  border: solid #000000 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#28b487), to(#7dd56f));
  background: -moz-linear-gradient(top, #28b487, #7dd56f);
}
.button:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#7dd56f), to(#28b487));
  background: -moz-linear-gradient(top, #7dd56f, #28b487);
}
